In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Customers.csv')

In [3]:
df.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [4]:
df.sample(5)

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
905,906,Female,66,118385,8,Healthcare,10,3
1939,1940,Female,76,146308,49,Artist,5,1
1576,1577,Female,16,189689,37,Healthcare,8,5
234,235,Female,4,84000,54,Artist,9,1
242,243,Female,84,40000,14,Healthcare,1,4

In [5]:
df = df.iloc[:,2:]

In [6]:
df.head()

,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,19,15000,39,Healthcare,1,4
1,21,35000,81,Engineer,3,3
2,20,86000,6,Engineer,1,1
3,23,59000,77,Lawyer,0,2
4,31,38000,40,Entertainment,2,6

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    df.iloc[:, 0:2], df.iloc[:, -1], test_size=0.2
)

In [8]:
X_train

      Age  Annual Income ($)
1392    5             112884
1032   47              83043
256    12              38000
625    78              83599
1161   20             155951
...   ...                ...
899     3             144103
834     3             147548
1773   49             122556
1412   20             106941
322    89             110667

[1600 rows x 2 columns]

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [12]:
OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [18]:
df=pd.read_csv('cars.csv')

In [20]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [21]:
df.shape

(8128, 5)

In [22]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

#1. OneHotEncoding using Pandas

In [23]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

2. K-1 OneHotEncoding

In [24]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

3. OneHotEncoding using Sklearn

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=2)

In [26]:
X_train.head()

         brand  km_driven    fuel         owner
5571   Hyundai      35000  Diesel   First Owner
2038      Jeep      60000  Diesel   First Owner
2957   Hyundai      25000  Petrol   First Owner
7618  Mahindra     130000  Diesel  Second Owner
6684   Hyundai     155000  Diesel   First Owner

In [27]:
from sklearn.preprocessing import OneHotEncoder

In [29]:
ohe = OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32)

In [30]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']])

In [31]:
X_test_new = ohe.transform(X_test[['fuel','owner']])

In [32]:
X_train_new.shape

(6502, 7)

In [33]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new))

array([['Hyundai', 35000, 1, ..., 0, 0, 0],
       ['Jeep', 60000, 1, ..., 0, 0, 0],
       ['Hyundai', 25000, 0, ..., 0, 0, 0],
       ...,
       ['Tata', 15000, 0, ..., 0, 0, 0],
       ['Maruti', 32500, 1, ..., 1, 0, 0],
       ['Isuzu', 121000, 1, ..., 0, 0, 0]], dtype=object)

4. OneHotEncoding with Top Categories

In [34]:
counts = df['brand'].value_counts()

In [35]:
df['brand'].nunique()
threshold = 100

In [36]:
repl = counts[counts <= threshold].index

In [37]:
pd.get_dummies(df['brand'].replace(repl, 'uncommon')).sample(5)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
893,False,False,True,False,False,False,False,False,False,False,False,False,False
3791,False,True,False,False,False,False,False,False,False,False,False,False,False
5916,False,False,False,True,False,False,False,False,False,False,False,False,False
6812,False,False,False,False,True,False,False,False,False,False,False,False,False
2617,False,False,False,False,False,False,False,False,False,False,True,False,False